.about #content .feature {
  padding: 100px 0;
  background: url(https://picsum.photos/1920/1080/);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.about #content .team-member {
  padding: 100px 0;
}
.about #content .member .name {
  margin: 18px 0;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about #content .member .title {
  color: #a5a5a5;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.about #content .cover h3 {
  margin: 30px 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.about #content .cover p {
  font-size: 14px;
}
.about #content .cover .social-media {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.about #content .cover .social-media ul {
  display: inline-block;
}
.about #content .cover .social-media li {
  float: left;
  margin: 0 10px;
}
.about #content .cover .social-media a {
  color: black;
  text-decoration: none;
}
.about #content .gray-bg {
  padding: 100px 0;
  text-align: center;
}
.about #content .gray-bg .count {
  font-size: 36px;
}
.about #content .gray-bg h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  color: #323232;
}
.about #content .clients {
  padding: 100px 0;
}
.about .summary i {
  display: block;
  padding-bottom: 10px;
  font-size: 36px;
}
.service #header {
  position: absolute;
  width: 100%;
}
.service #content .header {
  background-image: url(http://dummyimage.com/1920x1080/eee/ddd);
}
.service #content .header.black .title,
.service #content .header.black #breadcrumbs li {
  color: black;
}
.service #content .special-services {
  padding: 100px 0;
}
.service #content .special-services .title {
  margin-bottom: 5px;
  font-size: 16px;
  color: #d6b161;
}
.service #content .special-services .subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.service #content .special-services p {
  margin-bottom: 30px;
}
.service #content .special-offer {
  padding: 60px 0;
}
.service #content .special-offer .promo-info {
  float: left;
}
.service #content .special-offer .promo-button {
  float: right;
  margin: 0;
}
.service #content .special-offer .title {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
.service #content .special-offer .title em {
  font-style: normal;
  color: #d6b161;
}
.service #content .special-offer .desc {
  color: #7e7e7e;
}
.service .services,
.service .feature,
.service .pricing {
  padding: 100px 0;
}
.service .services .row > div {
  padding: 50px;
}
.service .services .row > div:hover {
  background: black;
  color: white;
}
.service .services .row > div:hover i {
  color: #d6b161;
}
.service .big-dot li {
  float: left;
  margin-bottom: 10px;
  width: 50%;
  line-height: 1.5;
}
.service .big-dot li:before {
  font-family: "fontello";
  content: '\f10c';
  padding-right: 10px;
  color: #757575;
}
.contact #content .title {
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: 2px;
}
.contact .content {
  padding: 100px 0;
}
.contact .contact-info .address {
  margin-bottom: 30px;
}
.contact .contact-form {
  display: inline-block;
  margin-top: 50px;
}
.contact .contact-form .col-6,
.contact .contact-form .col-12 {
  margin-bottom: 15px;
  padding: 0 15px;
}
.contact .contact-form label {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #7e7e7e;
}
.contact .contact-form input,
.contact .contact-form textarea {
  padding: 6px 12px;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.contact .contact-form textarea {
  height: 95px;
}
.contact .contact-form button {
  margin-top: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
p {
  color: #7e7e7e;
  line-height: 30px;
}
.container {
  display: block;
  margin: 0 auto;
  width: 1170px;
}
.container.full-width {
  width: 100%;
}
.button {
  background: #ffffff;
  color: #222222;
  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}
.button.bordered {
  border: 1px solid black;
}
.button.bordered.light-border {
  border-color: #e8e8e8;
}
.button.black {
  background: #222;
  color: white;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.button.black:hover {
  background: #d6b161;
}
.button.full-width {
  width: 100%;
}
.button.rounded {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.clearfix:after,
.row:after {
  clear: both;
  content: "";
  display: table;
}
#logo {
  float: left;
}
#nav {
  float: right;
  line-height: 100px;
  text-transform: uppercase;
}
#nav li {
  float: left;
}
#nav a {
  color: #333333;
  font-size: 13px;
  padding: 0 12px;
  text-decoration: none;
}
#nav .active a {
  color: #d6b121;
}
.boundary:after {
  content: "|";
  padding: 0 12px;
}
.title-block {
  margin-bottom: 30px;
}
.progress-bar {
  margin-bottom: 50px;
  width: 100%;
  background-color: #eae8e8;
}
.progress-bar > div {
  display: inline-block;
}
.progress-bar .progress {
  padding-left: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 24px;
}
.progress-bar .pin {
  position: relative;
  top: -30px;
  left: -30px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 3px 8px;
  border-radius: 14px;
}
.progress-bar .pin:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: rgba(0, 0, 0, 0.6);
  border-width: 2px;
  margin-left: -2px;
}
.feature-brief {
  text-align: center;
}
.feature-brief .title {
  font-size: 18px;
}
.feature-brief i {
  display: block;
  padding-bottom: 30px;
  font-size: 36px;
}
.feature-brief.white {
  color: white;
}
.feature-brief.white i {
  color: #d6b161;
}
.feature-brief.white p {
  color: white;
}
.feature-brief.black {
  color: black;
}
.feature-brief.black i {
  color: black;
}
.feature-brief.black p {
  color: #7e7e7e;
}
.pricing .package {
  padding: 0 15px;
  text-align: center;
}
.pricing .package .box {
  border: 1px solid #e8e8e8;
  padding: 50px;
}
.pricing .package .name {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.pricing .package .value {
  margin-bottom: 40px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
}
.pricing .package .price {
  font-size: 42px;
}
.pricing .package .decimal {
  margin-left: -10px;
  font-size: 16px;
}
.pricing .package .duration {
  text-transform: uppercase;
}
.pricing .package .features li {
  margin-bottom: 15px;
}
.pricing .package.recommended .box {
  background-color: #222;
  color: white;
}
.pricing .package.recommended .name {
  color: #d6b161;
}
.pricing .package.recommended .value {
  border-color: rgba(255, 255, 255, 0.2);
}
.pricing .package.recommended .features {
  color: #7d7d7d;
}
.contact-info {
  color: #7e7e7e;
  line-height: 30px;
}
.contact-info a {
  color: #7e7e7e;
  text-decoration: none;
}
.contact-form {
  display: inline-block;
  margin-top: 50px;
}
.contact-form .col-6,
.contact-form .col-12 {
  margin-bottom: 15px;
  padding: 0 15px;
}
.contact-form label {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #7e7e7e;
}
.contact-form input,
.contact-form textarea {
  padding: 6px 12px;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.contact-form textarea {
  height: 95px;
}
.contact-form button {
  margin-top: 0;
}
#content > div {
  padding-top: 100px;
}
#content > div.full-padding {
  padding: 100px 0;
}
#content > div.gray-bg {
  background: #f5f5f5;
}
#content > div:first-child {
  padding-top: 0;
}
#content > hr {
  border-top: 1px solid #eeeeee;
  margin: 0;
}
#content div.header {
  padding: 200px 0;
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#content div.header .title {
  float: left;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 24px;
}
#content div.header #breadcrumbs {
  float: right;
  padding: 15px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
}
#content div.header #breadcrumbs li {
  float: left;
  color: white;
  text-transform: uppercase;
}
#content div.header #breadcrumbs li:after {
  content: "/";
  margin: 0 5px;
}
#content div.header #breadcrumbs li:last-child:after {
  content: "";
  margin: 0;
}
#content div.header #breadcrumbs a {
  color: #7e7e7e;
  text-decoration: none;
}
#content div.header #breadcrumbs.transparent {
  background: transparent;
}
#content h3.title {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
}
#content .feature-item {
  position: relative;
  padding-left: 80px;
  padding-bottom: 80px;
}
#content .feature-item .icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 36px;
}
#content .feature-item .title {
  margin-bottom: 20px;
  font-size: 18px;
}
#content .feature-item .desc {
  color: #7e7e7e;
}
.slider img {
  height: auto;
  width: 100%;
}
.intro {
  margin-bottom: 100px;
  text-align: center;
}
.intro h2 {
  color: #333333;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.intro hr {
  background: #595959;
  border: none;
  height: 2px;
  margin: 0 auto;
  width: 60%;
}
.intro p {
  color: #7e7e7e;
}
.intro.big h2 {
  padding: 0;
}
.intro.big p {
  margin: 0;
  text-transform: uppercase;
}
.row {
  margin: 0 -15px;
}
.row.bordered > div {
  border: 1px solid #f2f2f2;
  margin-left: -1px;
  margin-bottom: -1px;
}
.col-2 {
  float: left;
  padding: 0 30px;
  width: 16.6666%;
}
.col-3 {
  float: left;
  padding: 0 30px;
  width: 25%;
}
.col-4 {
  float: left;
  padding: 0 30px;
  width: 33.3333%;
}
.col-5 {
  float: left;
  padding: 0 30px;
  width: 41.6666%;
}
.col-6 {
  float: left;
  padding: 0 30px;
  width: 50%;
}
.col-7 {
  float: left;
  padding: 0 30px;
  width: 58.3333%;
}
.col-8 {
  float: left;
  padding: 0 30px;
  width: 66.6666%;
}
.col-12 {
  float: left;
  padding: 0 30px;
  width: 100%;
}
.category {
  margin-bottom: 20px;
  position: relative;
  padding: 0 10px;
}
.category img {
  height: auto;
  width: 100%;
}
.category .title {
  color: #222222;
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  right: 10%;
  text-align: right;
  text-transform: uppercase;
  top: 35%;
}
.products li {
  float: left;
}
.product {
  padding: 0 10px;
}
.product .info {
  padding: 0 15px;
  text-align: center;
}
.product .title {
  margin: 0;
}
.product .title a {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.product .price {
  color: #7e7e7e;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
}
.thumbnail {
  position: relative;
}
.thumbnail img {
  height: auto;
  width: 100%;
}
.thumbnail .cover {
  background: rgba(255, 255, 255, 0.9);
  border: 20px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.thumbnail .cover:hover {
  opacity: 1;
}
.thumbnail .cover > a {
  color: #333333;
  position: relative;
  text-decoration: none;
  top: 95px;
  font-size: 32px;
}
.event {
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-image: url(https://picsum.photos/1920/1080/);
  background-position: 50% 50%;
  background-size: cover;
  padding: 150px 0;
}
.event .title {
  color: #ffffff;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}
.event .subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}
.featured {
  padding-bottom: 100px;
}
.featured img {
  height: auto;
  width: 100%;
}
.featured .info {
  margin-top: 70px;
  text-align: center;
}
.featured .info .title {
  color: #d6b161;
  text-transform: uppercase;
}
.featured .info .name {
  font-weight: normal;
  margin-bottom: 10px;
  margin: 0;
  text-transform: uppercase;
}
.featured .info .price {
  color: #d6b161;
  font-size: 26px;
  font-weight: 100;
}
.featured .info p {
  margin-bottom: 30px;
  margin: 0;
  padding-top: 30px;
}
.featured .col-6 {
  padding: 0 30px;
}
.outlets {
  padding-bottom: 100px;
}
.outlet h3 {
  font-weight: normal;
  margin-bottom: 30px;
  margin: 0;
  text-transform: uppercase;
}
.outlet .map a {
  color: #d6b161;
  text-decoration: none;
  text-transform: uppercase;
}
#footer {
  background: #f5f5f5;
  padding: 80px 0;
  position: relative;
}
#footer .logo {
  background: #ffffff;
  border: 5px solid #f5f5f5;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: -50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#footer .copyright {
  float: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#footer .copyright .subtitle {
  color: #323232;
  font-size: 12px;
}
#footer .social-media {
  float: right;
}
#footer .social-media li {
  float: left;
}
#footer .social-media a {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #222222;
  color: #222222;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
#footer.dark {
  padding: 0;
  background: #222;
}
#footer.dark .info {
  padding: 80px 0;
}
#footer.dark .info .title {
  margin: 0;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}
#footer.dark .info ul.common-list li {
  border-bottom: 1px solid #333;
}
#footer.dark .info ul.common-list li a {
  display: block;
  line-height: 45px;
  color: #a2a2a2;
  text-decoration: none;
  text-transform: capitalize;
}
#footer.dark .info ul.common-list li a:before {
  content: ">";
  margin-right: 10px;
}
#footer.dark .info .thumbnails li {
  float: left;
}
#footer.dark .info .thumbnails li a {
  display: inline-block;
  margin: 0 10px 10px 0;
}
#footer.dark .bottom {
  padding: 35px 0;
  background: #1b1b1b;
  color: #6f7273;
}
#footer.dark .bottom .copyright {
  margin-top: 10px;
  text-transform: capitalize;
}
#footer.dark .bottom .copyright a {
  color: white;
  text-decoration: none;
}
#footer.dark .social-media a {
  margin: 0;
  margin-left: 15px;
  border-color: #6f7273;
  color: #6f7273;
}
#go-top {
  background: rgba(0, 0, 0, 0.6);
  bottom: 35px;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
